@media(max-width: 576px){
	.col-xs-1{
	   width:8.33%;
   }
    .col-xs-2{
	   width:16.66%;
   }
    .col-xs-3{
	   width:25%;
   }
    .col-xs-4{
	   width:33.33%;
   }
    .col-xs-5{
	   width:41.66%;
   }
    .col-xs-6{
	   width:50%;
   }
    .col-xs-7{
	   width:58.33%;
   }
    .col-xs-8{
	   width:66.66%;
   }
    .col-xs-9{
	   width:75%;
   }
    .col-xs-10{
	   width:83.33%;
   }
    .col-xs-11{
	   width:91.66%;
   }
    .col-xs-12{
	   width:100%;
   }
	.abt-img{
		height:400px;
	}
	.contact-info span{
		font-size:10px;
	}
	.banner-content h1{
		font-size:28px;
	}
	.banner-content h2{
		font-size:18px;
	}
	.banner-content{
		padding-left:0px;
	}
	.why-choose{
		padding:15px;
	}
	.why-choose p{
		line-height:20px;
	}
	.why-choose h1{
		line-height:38px;
	}
	.client-sec {
    padding: 10px 0px;
	}
	.base1 h2{
		margin-top:20px;
	}
	.base h2{
		margin-top:20px;
	}
	.finish-1{
		text-align:center;
		margin-right:0px;
	}
	.finish-2 {
    text-align: center;
    margin-top: 17px;
	padding-left:0px;
	}
	.choose-items{
		margin-top:15px;
		height: auto;
	}
	.content2 p{
	width:100%;
	line-height: normal;
	}
	.buy-order h3{
		right:-126px;
	}
	.address{
		margin:15px 0px;
	}
	.d-xs-none{
		display:none !important;
	}
	.d-xs-block{
		display: block;
	}
}
@media(min-width: 576px){
	.container:{
		width: 550px;
	}
}
@media(max-width: 992px){
	.content2 p{
	width:100%;
	line-height: normal;
	}
	.choose-items{
		margin: 30px 0px 0px;
		height:auto;
	}.d-md-block{
	   display:block;
   }
   .mini-bar{
	    color: #473d3a;
		font-size: 28px;
		cursor: pointer;
		line-height:0px;
		border:0;
		}
	.small p{
		font-size:12px;
	}
  .abt-img{
	   height:500px;
   }
   .cilent-sec{
	   padding:0px;
   }
   .buy-order h3{
	   top: 18px;
    right: -151px;
   }
   .address{
		margin:15px 0px;
	}
	.base h2{
		padding-top: 14px;
	}
	.finish-1{
		text-align:center;
		margin-right:0px;
	}
	.finish-2 {
    text-align: center;
    margin-top: 17px;
	padding-left:0px;
	}
	.nav-section{
	   position:relative;
   }
   .mini-bar i{
	   position:absolute;
	   right:30px;
	   top:18px;
   }
}
@media(min-width: 768px){
	.container:{
		width: 720px;
	}
	.col-md-1{
	   width:8.33%;
   }
    .col-md-2{
	   width:16.66%;
   }
    .col-md-3{
	   width:25%;
   }
    .col-md-4{
	   width:33.33%;
   }
    .col-md-5{
	   width:41.66%;
   }
    .col-md-6{
	   width:50%;
   }
    .col-md-7{
	   width:58.33%;
   }
    .col-md-8{
	   width:66.66%;
   }
    .col-md-9{
	   width:75%;
   }
    .col-md-10{
	   width:83.33%;
   }
    .col-md-11{
	   width:91.66%;
   }
    .col-md-12{
	   width:100%;
   }
}
@media(min-width: 1200px){
	.container{
		width:1140px;
	}
	.col-lg-1{
	   width:8.33%;
   }
    .col-lg-2{
	   width:16.66%;
   }
    .col-lg-3{
	   width:25%;
   }
    .col-lg-4{
	   width:33.33%;
   }
    .col-lg-5{
	   width:41.66%;
   }
    .col-lg-6{
	   width:50%;
   }
    .col-lg-7{
	   width:58.33%;
   }
    .col-lg-8{
	   width:66.66%;
   }
    .col-lg-9{
	   width:75%;
   }
    .col-lg-10{
	   width:83.33%;
   }
    .col-lg-11{
	   width:91.66%;
   }
    .col-lg-12{
	   width:100%;
   }
    .d-lg-block{
		display:block;
	}
}
@media(max-width: 576px){
	.col-xs-1{
	   width:8.33%;
   }
    .col-xs-2{
	   width:16.66%;
   }
    .col-xs-3{
	   width:25%;
   }
    .col-xs-4{
	   width:33.33%;
   }
    .col-xs-5{
	   width:41.66%;
   }
    .col-xs-6{
	   width:50%;
   }
    .col-xs-7{
	   width:58.33%;
   }
    .col-xs-8{
	   width:66.66%;
   }
    .col-xs-9{
	   width:75%;
   }
    .col-xs-10{
	   width:83.33%;
   }
    .col-xs-11{
	   width:91.66%;
   }
    .col-xs-12{
	   width:100%;
   }
	.abt-img{
		height:400px;
	}
	.contact-info span{
		font-size:10px;
	}
	.banner-content h1{
		font-size:28px;
	}
	.banner-content h2{
		font-size:18px;
	}
	.banner-content{
		padding-left:0px;
	}
	.why-choose{
		padding:15px;
	}
	.why-choose p{
		line-height:20px;
	}
	.why-choose h1{
		line-height:38px;
	}
	.client-sec {
    padding: 10px 0px;
	}
	.base1 h2{
		margin-top:20px;
	}
	.base h2{
		margin-top:20px;
	}
	.finish-1{
		text-align:center;
		margin-right:0px;
	}
	.finish-2 {
    text-align: center;
    margin-top: 17px;
	padding-left:0px;
	}
	.choose-items{
		margin-top:15px;
		height: auto;
	}
	.content2 p{
	width:100%;
	line-height: normal;
	}
	.buy-order h3{
		right:-126px;
	}
	.address{
		margin:15px 0px;
	}
	.d-xs-none{
		display:none !important;
	}
	.d-xs-block{
		display: block;
	}
}
@media(min-width: 576px){
	.container:{
		width: 550px;
	}
}
@media(max-width: 992px){
	.content2 p{
	width:100%;
	line-height: normal;
	}
	.choose-items{
		margin: 30px 0px 0px;
		height:auto;
	}.d-md-block{
	   display:block;
   }
   .mini-bar{
	    color: #473d3a;
		font-size: 28px;
		cursor: pointer;
		line-height:0px;
		border:0;
		}
	.small p{
		font-size:12px;
	}
  .abt-img{
	   height:500px;
   }
   .cilent-sec{
	   padding:0px;
   }
   .buy-order h3{
	   top: 18px;
    right: -151px;
   }
   .address{
		margin:15px 0px;
	}
	.base h2{
		padding-top: 14px;
	}
	.finish-1{
		text-align:center;
		margin-right:0px;
	}
	.finish-2 {
    text-align: center;
    margin-top: 17px;
	padding-left:0px;
	}
	.nav-section{
	   position:relative;
   }
   .mini-bar i{
	   position:absolute;
	   right:30px;
	   top:18px;
   }
}
@media(min-width: 768px){
	.container:{
		width: 720px;
	}
	.col-md-1{
	   width:8.33%;
   }
    .col-md-2{
	   width:16.66%;
   }
    .col-md-3{
	   width:25%;
   }
    .col-md-4{
	   width:33.33%;
   }
    .col-md-5{
	   width:41.66%;
   }
    .col-md-6{
	   width:50%;
   }
    .col-md-7{
	   width:58.33%;
   }
    .col-md-8{
	   width:66.66%;
   }
    .col-md-9{
	   width:75%;
   }
    .col-md-10{
	   width:83.33%;
   }
    .col-md-11{
	   width:91.66%;
   }
    .col-md-12{
	   width:100%;
   }
}
@media(min-width: 1200px){
	.container{
		width:1140px;
	}
	.col-lg-1{
	   width:8.33%;
   }
    .col-lg-2{
	   width:16.66%;
   }
    .col-lg-3{
	   width:25%;
   }
    .col-lg-4{
	   width:33.33%;
   }
    .col-lg-5{
	   width:41.66%;
   }
    .col-lg-6{
	   width:50%;
   }
    .col-lg-7{
	   width:58.33%;
   }
    .col-lg-8{
	   width:66.66%;
   }
    .col-lg-9{
	   width:75%;
   }
    .col-lg-10{
	   width:83.33%;
   }
    .col-lg-11{
	   width:91.66%;
   }
    .col-lg-12{
	   width:100%;
   }
    .d-lg-block{
		display:block;
	}
}
